@import "@/styles/variables.module.scss";

.about-author {
  &-container {
    width: 87%;
    max-width: 31.25rem;
    height: 100%;
    margin: 9rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.625rem;
  }

  &-content {
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-author {
      font-size: $typo-mobile-secondary;
      font-weight: $weight-semibold;
      letter-spacing: 0.125rem;
    }

    &-text {
      margin-top: 1.875rem;
      letter-spacing: 0.125rem;
      line-height: 1.6875rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  .about-author {
    &-container {
      width: 70%;
      max-width: 62.5rem;
      margin: 30.5625rem auto 0 auto;
      flex-direction: row;
      justify-content: space-between;
      gap: 13.5625rem;
    }

    &-content {
      &-container {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      &-author {
        font-size: $typo-desktop-secondary;
        letter-spacing: 0.25rem;
      }

      &-text {
        margin-top: 1.875rem;
        font-size: $typo-desktop-content;
        letter-spacing: 0.125rem;
        line-height: 1.6875rem;
      }
    }
  }
}
