// typography
$typo-desktop-primary: 1.75rem;
$typo-desktop-secondary: 1.5rem;
$typo-desktop-interface: 1.25rem;
$typo-desktop-content: 1.125rem;
$typo-desktop-auxiliary: 1rem;

$typo-mobile-primary: 1.375rem;
$typo-mobile-secondary: 1.125rem;
$typo-mobile-interface: 1rem;
$typo-mobile-content: 1rem;
$typo-mobile-auxiliary: 0.875rem;


// weight
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;


// color
$color-primary-one: #BD6E6E;
$color-primary-two: #D79283;
$color-primary-three: #FBECC3;
$color-primary-four: #E2D5C2;

$color-bg-one: #FFF9F0;
$color-bg-two: #F2EFEC;
$color-bg-three: #FAF2E0;
$color-bg-four: #FEF0E8;
$color-bg-four: #EBEFF1;

$color-text-dark: #383747;
$color-text-additional: #ABB7C4;
$color-text-light: #FFFFFF;