@import "@/styles/variables.module.scss";

.author {
  &-container {
    width: 87%;
    height: 100%;
    margin: 0 auto;
    padding-top: 8.375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__content {
    &-container {
      margin-top: 7.8125rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;
    }

    &-title {
      font-weight: $weight-semibold;
      font-size: $typo-mobile-secondary;
      letter-spacing: 0.125rem;
    }

    &-hashtag {
      color: $color-text-dark-secondary;
      font-weight: 350;
      font-family: "Noto Sans TC";
      font-size: $typo-mobile-auxiliary;
      letter-spacing: 0.075rem;

      &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }
    }

    &-text {
      line-height: 1.7rem;
      letter-spacing: 0.1rem;
    }

    &-paragraph-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }

    &-subtitle {
      font-weight: $weight-semibold;
      font-size: $typo-mobile-secondary;
    }
  }
}

@media screen and (min-width: 1400px) {
  .author {
    &-container {
      width: 50%;
      padding-top: 15rem;
    }

    &__content {
      &-container {
        margin-top: 3.75rem;
        gap: 3rem;
      }

      &-title {
        font-weight: $weight-semibold;
        font-size: $typo-desktop-secondary;
        letter-spacing: 0.175rem;
      }

      &-hashtag {
        font-size: $typo-desktop-auxiliary;
      }

      &-text {
        line-height: 1.9rem;
        font-size: $typo-desktop-content;
      }

      &-paragraph-container {
        gap: 1.5rem;
      }

      &-subtitle {
        font-weight: $weight-semibold;
        font-size: $typo-desktop-secondary;
      }
    }
  }
}
